$svart:#000000;
$hvit:#ffff;
$svarttransparant:#00000055;
$hvittransparant:#ffffff44;


$grønn: #9ee8af;
$grønn-knapphoverbg: #70ea8d;
$grønn-hover:#33dc5a;
$mørk-grønn:#003b0e;
$kaldmørk-grønn:#03260b;


$oransje-hoverbg: #fc8c50;
$oransje: #f5a890;
$oransje-hover:#ff784e;
$mørk-oransje:#48190b; 


$rosa: #f1b3d4;
$rosa-hover:#ff4fa3;
$mørk-rosa:#4a032e;
$knapperrosa: #f19ac4;
$rosa-hoverbg:#f282b8;
$transparantrosa:#ff80d318;

$skygge:0 4px 8px rgba(0, 0, 0, 0.1);
$skygge-hover: 0 6px 16px rgba(0, 0, 0, 0.2);

$radius: 15px;
$radius-sm: 8px;
$muted: #717171;

$transition: all 0.3s ease;
