@use 'design';

footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
        display: inline-block;
        width: 150px;
        height: 150px;
        background-color: design.$hvit;
        border-radius: 50%; /* gjør sirkelen */
        border: 3px solid design.$hvit;
        overflow: hidden; /* klipp bildet inni sirkelen */

        img {
            width: 100%;
            height: 100%; /* fyller hele containeren */
            object-fit: cover; /* fyller sirkelen */
            display: block; /* fjerner mellomrom under bildet */
        }
    }

    .some{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        padding: 0;
    

        li{

            a{
                font-size: 1.5rem;
                text-decoration: none;
                color: design.$svart;
            }

            span{
                display: none;
            }
        }
    }



    @media (min-width:790px){

        .some{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            gap:2rem;

            ul{
                flex-direction: column;
        
            }

                a span{
                    display: block;
                }
        }
    }
}
